<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gym Instructor Details</title>
</head>

 <style>
        .canceled-text {
        color: red;
    }
 </style>
<body>
    <h1>Classes Taught at <span th:text="${gym.gym_name}"></span></h1>

    <div th:each="entry : ${scheduleClassesMap}">
        <h2>Date: <span th:text="${entry.key.work_out_date}"></span></h2>
        <table>
            <tbody>
                <tr th:each="class : ${entry.value}">
                    <td th:text="${class.time_start}"></td>
                    <td th:text="${class.time_end}"></td>
                    <td>
                        <a th:href="@{'/gym/class-schedule-details/' + ${class.classOfScheduleId}(gymId=${gymId})}">
                            <span th:text="${class.workout.name}"></span>
                        </a>
                         <span th:if="${class.is_canceled}" class="canceled-text">(CANCELED)</span>
                    </td>
                    <td>
                        <a th:href="@{http://localhost:8080/gym/modifyClass(classId=${class.classOfScheduleId},gymId=${gymId},scheduleId=${entry.key.schedule_id})}">Modify</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
