<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Attendance History</title>
</head>
<body>
    <h1>Attendance History at <span th:text="${gym.gym_name}"></span></h1>
    
    <table>
        <thead>
            <tr>
                <th>Class Date</th>
                <th>Workout</th>
                <th>Time</th>
                <th>Instructor</th>
                <!-- Add more columns here if needed -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="attendedClass : ${attendedClasses}">
				<td>
    				<span th:text="${attendedClass.time_start}"></span> - 
    				<span th:text="${attendedClass.time_end}"></span>
				</td>
                <td th:text="${attendedClass.workout.name}"></td>
                <td th:text="${attendedClass.instructor.instructor_name}"></td>
                <td>
            		<form th:action="@{/rate-class}" method="post">
                		<input type="hidden" name="classOfScheduleId" th:value="${attendedClass.classOfScheduleId}" />
                		<input type="hidden" name="gymId" th:value="${gym.gym_id}" />
                		<label for="instructorRating">Instructor Rating:</label>
                		<input type="number" name="instructorRating" min="1" max="5" required /><br>
                		<label for="accuracyRating">Accuracy Rating:</label>
                		<input type="number" name="accuracyRating" min="1" max="5" required /><br>
                		<label for="crowdingRating">Crowding Rating:</label>
                		<input type="number" name="crowdingRating" min="1" max="5" required /><br>
                		<button type="submit">Rate Class</button>
            		</form>
        		</td>
            </tr>
        </tbody>
    </table>

    <button onclick="window.location.href='/athlete/dashboard'" type="button">Back to Dashboard</button>
</body>
</html>
